::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent; 
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.57142857;
    color: #3c4650;
    background-color: #f9f9fa;
    margin: 0;
    display: block;
}

form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 55px;
    overflow-anchor: none;
    display: block;
}

.container {
    position: relative;
    margin: 0;
    width: 100%;
}

header.h-logo {
    border: none;
    background: #2d333d;
    top: 0;
    position: absolute;
    z-index: 1030;    
    min-height: 55px;
    margin-bottom: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}


header.h-navbar {
    border: none;
    background: #363d49;
    top: 0;
    z-index: 1030;
    min-height: 35px;
    display: table;
}

header.h-navbar .navig {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

header.h-navbar .navig ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

header.h-navbar .navig li {
    float: left;
    padding: 0 15px;
    border-left: 1px solid #636b73;
}

header.h-navbar .navig ul li:last-child {
    border-right: 1px solid #636b73;
}

header.h-navbar .navig li a {
    color: #636b73;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

header.h-navbar .navig li a:hover {
    color: #fff;
}

.m-header {
    padding: 48px 0 40px;
    background-color: #fff;
    border-bottom: 1px solid #e8e9ea;
    box-shadow: inset 0 2px 0 0 #f3f4f4;
}

.m-header .title {
    padding-left: 75px;
}

.m-header .title h1 {
    font-weight: 300;
    color: #767e84;
    margin: 0;
    font-size: 35px;
    font-family: inherit;
    line-height: 1.26;
}

.m-header .title h2 {
    font-weight: 700;
    color: #3c4650;
    word-wrap: break-word;
    margin: 0;
    font-size: 35px;
    font-family: inherit;
    line-height: 1.26;
}

.m-header .titled div {
    color: #d8dadc;
}

.m-header .titled div.t {
    height: 88px;
    font-size: 100px;
    line-height: .88;
    color: #3c4650;
}

.col {
    display: Inline-block;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* Index AND activity-history */
.responsive-table li {
    border-radius: 3px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    margin: 15px 15px 0 0;
}
.responsive-table .table-header {
    background-color: #3c4650;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.responsive-table .table-row {
    background-color: #ffffff; 
    align-items: center;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
    flex-basis: 60%;
}
.responsive-table .col-2 {
    flex-basis: 20%;
}
.responsive-table .col-3 {
    flex-basis: 20%;
}
.responsive-table .table-header .col {
    color: #fff;
}

.table-row button {
    margin-right: 20px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #e8e9ea;
    position: relative;
    display: block;
    padding: 11px;
    text-decoration: none;
    border-radius: 4px;
    background-color: transparent;
    color: #9da2a7;
}

.table-row button:hover {
    color: #3c4650;
    background-color: #fff;
    box-shadow: 0 0 0 2px #f3f4f4;
    cursor: pointer;
}

/* Profile */

.content {
    margin: 15px 15px 0 15px;
    padding: 12px;
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.content .controls {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 11px;
    padding-right: 11px;
}

.content .controls legend {
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 22px;
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 22px;
    line-height: inherit;
    color: #3c4650;
    border: 0;
    border-bottom: 1px solid #e8e9ea;
}

.content .controls .form-group {
    margin-bottom: 22px;
    text-align: left;
    margin-bottom: 0;
    padding-top: 11px;
}

.content .controls label {
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
    cursor: default;
}

.form-control {
    box-shadow: none;
    display: Inline-block;
    width: 50%;
    height: 44px;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.57142857;
    border: 1px solid #d7d9db;
    border-radius: 4px;
}
.controls .btn {
    margin-top: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #fff;
    background-color: #3c4650;
    border-color: #3c4650;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.57142857;
    user-select: none;
}